:root {
  --bg-alt: #eee;
  --fg: #4d5156;
  --bg: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-alt: #323641;
    --fg: #bdc1c6;
    --bg: #202124;
  }
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  color: var(--fg);
  background-color: var(--bg);
  margin: 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  user-select: none;
}

h1 {
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
  padding: 15px 0;
  text-align: center;
  background-color: var(--bg-alt);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  padding: 5px 10px;
  cursor: pointer;
  transition: opacity 0.5s ease-out;
}
li:hover {
  background-color: var(--bg-alt);
}
li:active {
  opacity: 0.5;
  transition: 0s;
}
footer {
  background-color: var(--bg-alt);
  display: grid;
  grid-template-columns: 1fr;
}
input[type=button] {
  background-color: var(--bg-alt);
  border: none;
  padding: 15px;
  cursor: pointer;
  color: var(--fg);
}

#tools {
  border-top: 2px solid var(--bg-alt);
  padding: 10px 5px;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 5px;
  align-items: center;
}

.spacer {
  pointer-events: none;
  height: 1px;
}
