:root {
  --bg-alt: #eee;
  --fg: #4d5156;
  --bg: #fff;
  --scrl: #828282;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-alt: #323641;
    --fg: #bdc1c6;
    --bg: #202124;
  }
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  color: var(--fg);
  background-color: var(--bg);
  margin: 0;
  display: grid;
  width: 300px;
  grid-template-columns: 300px 0;
  user-select: none;
}
body[tabs] {
  grid-template-columns: 300px 52px;
  width: 352px;
}

h1 {
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
  padding: 15px 0;
  text-align: center;
  background-color: var(--bg-alt);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  padding: 5px 10px;
  cursor: pointer;
  transition: opacity 0.5s ease-out;
}
li:hover {
  background-color: var(--bg-alt);
}
li:active {
  opacity: 0.5;
  transition: 0s;
}
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1px;
  & > * {
    background-color: var(--bg-alt);
  }
}
body[tabs-ready] footer {
  grid-template-columns: 1fr;

  input[data-command="tabs-permission"] {
    display: none;
  }
}
input[type=button] {
  background-color: var(--bg-alt);
  border: none;
  padding: 15px;
  cursor: pointer;
  color: var(--fg);
}

#tools {
  border-top: 2px solid var(--bg-alt);
  padding: 10px 5px;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 5px;
  align-items: center;
}

.spacer {
  pointer-events: none;
  height: 1px;
}
.tabs {
  display: flex;
  align-items: center;
  gap: 3px;
  flex-direction: column;
  overflow: auto;
  padding-block: 10px;
  height: calc(100vh - 20px);
  scrollbar-width: thin;
  scrollbar-color: var(--scrl) var(--bg);
}
body[tabs] > .tabs {
  border-left: solid 2px var(--bg-alt);
}
.tab {
  * {
    pointer-events: none;
  }
  img {
    width: 24px;
  }
}
